<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884588671722-b6ohor2meh4c286ue4ma3ccb7h812sbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884588671722-b6ohor2meh4c286ue4ma3ccb7h812sbl</string>
	<key>API_KEY</key>
	<string>AIzaSyCa-1Rhvb3LPoay4V8TYNJCLOfnIS_Y8RE</string>
	<key>GCM_SENDER_ID</key>
	<string>884588671722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admin.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>ios-2019-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-2019-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884588671722:ios:60110ef42a3b33a7b89d93</string>
	<key>DATABASE_URL</key>
	<string>https://ios-2019-final-project.firebaseio.com</string>
</dict>
</plist>